<!DOCTYPE html>
<html>
  <head>
    <title>Contacts2Client</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/client/signup">Sign Up</a>
    <a href="/client/login">Log In</a>
    <a href="/client/logout" data-method="delete">Log Out</a>
    <%= yield %>
  </body>
</html>
